/* line 14, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../../app/stylesheets/application.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer;
}
/* line 6, ../../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 14, ../../../app/stylesheets/application.sass */
.spacer {
  clear: both;
  height: 1px;
  line-height: 0.1px;
  font-size: 0.1px;
}

/* line 33, ../../../app/stylesheets/application.sass */
body {
  font-family: Gill Sans, arial;
  font-size: 90%;
  line-height: 1.1em;
  background: url('/images/background.jpg?1301933239') left top repeat;
}
/* line 38, ../../../app/stylesheets/application.sass */
body #page-wrapper {
  background: url('/images/layout.jpg?1301932996') center top no-repeat;
  width: 100%;
}
/* line 41, ../../../app/stylesheets/application.sass */
body #page-wrapper #page {
  margin: 0 auto;
  width: 1000px;
}
/* line 46, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #header .menu {
  font-size: 1.2em;
  margin-top: 160px;
  float: right;
}
/* line 50, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #header .menu li {
  float: left;
  padding: 0 2em;
}
/* line 53, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #header .menu li.last {
  padding-right: 0;
}
/* line 56, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content {
  clear: both;
  padding-top: 65px;
}
/* line 59, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content h1 {
  font-size: 1.8em;
  line-height: 1.3em;
}
/* line 62, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content h1 strong {
  color: #db9d0a;
}
/* line 64, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content h2 {
  font-size: 1.2em;
  line-height: 1em;
  color: #616161;
}
/* line 69, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content .bottom-link {
  padding-top: 20px;
  text-align: center;
}
/* line 72, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #content .bottom-link a {
  background: url('/images/button.png?1301996478') center center no-repeat;
  cursor: pointer;
  padding: 14px 25px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}
/* line 81, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #bottom {
  clear: both;
  padding-top: 60px;
  padding-bottom: 20px;
}
/* line 85, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #bottom .menu {
  text-align: center;
  font-size: 0.8em;
}
/* line 88, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #bottom .menu a {
  padding: 0 0.5em;
}
/* line 90, ../../../app/stylesheets/application.sass */
body #page-wrapper #page #bottom .menu span {
  color: #db9d0a;
}

/* line 97, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #text, body #page-wrapper #page.index_categories #content #categories {
  height: 330px;
  position: relative;
  margin-bottom: 90px;
}
/* line 102, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories {
  float: right;
  margin-left: 20px;
  z-index: 1;
}
/* line 106, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories li {
  float: left;
}
/* line 108, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories li a {
  padding: 1px;
  margin: 0 2px;
  background: #383838;
  float: left;
}
/* line 113, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories li a img {
  float: left;
}
/* line 115, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories li a span {
  display: block;
  clear: left;
  text-align: center;
  line-height: 35px;
  color: white;
}
/* line 121, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #categories li a:hover {
  background: #db9d0a;
}
/* line 125, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #text h2 {
  margin-bottom: 60px;
}
/* line 127, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #text p {
  margin: 30px 0;
}
/* line 131, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact, body #page-wrapper #page.index_categories #content #posts {
  position: relative;
}
/* line 133, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact h1, body #page-wrapper #page.index_categories #content #posts h1 {
  margin-bottom: 30px;
}
/* line 136, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact {
  z-index: 1;
  float: right;
  margin-left: 40px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #616161;
  width: 256;
}
/* line 145, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact p {
  margin-bottom: 20px;
  line-height: 1.2em;
}
/* line 148, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact p span.phone {
  font-weight: bold;
}
/* line 151, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #contact a {
  background: url('/images/button_mail.png?1301997934') center center no-repeat;
}
/* line 157, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #posts li {
  margin-bottom: 30px;
}
/* line 159, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #posts li h3 {
  font-size: 1.1em;
  color: #616161;
  margin-bottom: 20px;
}
/* line 163, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #posts li h3 .published_on {
  color: #383838;
}
/* line 166, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_categories #content #posts li .content a {
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9em;
}

/* line 177, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #text .content,
body #page-wrapper #page.show_products #content #text .content {
  margin-top: 30px;
  margin-bottom: 65px;
}
/* line 181, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #categories,
body #page-wrapper #page.show_products #content #categories {
  float: left;
  width: 300px;
}
/* line 184, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #categories li,
body #page-wrapper #page.show_products #content #categories li {
  margin-bottom: 10px;
}
/* line 186, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #categories li a,
body #page-wrapper #page.show_products #content #categories li a {
  background: url('/images/button_grey.png?1302011399') center center no-repeat;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: white;
  width: 280px;
}
/* line 188, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #categories li a.selected,
body #page-wrapper #page.show_products #content #categories li a.selected {
  background-image: url('/images/button.png?1301996478');
}
/* line 191, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #product_gallery, body #page-wrapper #page.show_categories #content #products, body #page-wrapper #page.show_categories #content #product_description,
body #page-wrapper #page.show_products #content #product_gallery,
body #page-wrapper #page.show_products #content #products,
body #page-wrapper #page.show_products #content #product_description {
  width: 640px;
  float: left;
  margin-left: 60px;
}
/* line 195, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #product_description,
body #page-wrapper #page.show_products #content #product_description {
  font-family: arial;
  float: right;
  background: black;
  color: white;
  font-size: 0.8em;
  line-height: 1.2em;
}
/* line 202, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #product_description .inner-wrapper,
body #page-wrapper #page.show_products #content #product_description .inner-wrapper {
  margin-top: 1px;
  margin: 4px;
  margin-bottom: 8px;
}
/* line 207, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #product_gallery,
body #page-wrapper #page.show_products #content #product_gallery {
  height: 355px;
}
/* line 210, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #products li,
body #page-wrapper #page.show_products #content #products li {
  float: left;
  margin-left: 8px;
}
/* line 214, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #products li a img,
body #page-wrapper #page.show_products #content #products li a img {
  padding: 2px;
  background: #616161;
}
/* line 217, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #products li a:hover img,
body #page-wrapper #page.show_products #content #products li a:hover img {
  background: #db9d0a;
}
/* line 220, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #sur-mesure,
body #page-wrapper #page.show_products #content #sur-mesure {
  clear: both;
  padding-top: 70px;
}
/* line 223, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.show_categories #content #sur-mesure h2,
body #page-wrapper #page.show_products #content #sur-mesure h2 {
  margin-top: 30px;
  line-height: 2em;
}

/* line 231, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .first-text, body #page-wrapper #page.index_skills #content .second-text {
  line-height: 1.5em;
}
/* line 233, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content img.first {
  float: right;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 70px;
}
/* line 238, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .first-text {
  margin-top: 120px;
}
/* line 240, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content img.second {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 120px;
}
/* line 245, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .second-text {
  clear: right;
  text-align: right;
  padding-top: 50px;
}
/* line 249, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .bottom-titles {
  clear: both;
  padding-top: 50px;
  text-align: center;
}
/* line 253, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .bottom-titles h1 {
  margin-bottom: 30px;
}
/* line 255, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.index_skills #content .bottom-titles h2 {
  line-height: 2em;
}

/* line 259, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts {
  margin-top: 60px;
}
/* line 261, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li {
  padding-top: 15px;
  border-bottom: 1px solid #a1a1a1;
}
/* line 264, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li h3 {
  font-size: 1.1em;
  line-height: 40px;
  height: 40px;
  color: #616161;
}
/* line 269, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li h3 strong {
  color: black;
  text-transform: uppercase;
}
/* line 272, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li h3 .published_on {
  background: url('/images/little-button.png?1302039338') center center no-repeat;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: white;
  width: 120px;
}
/* line 274, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li .content {
  margin-top: 20px;
}
/* line 276, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content #posts li .content a.show_post {
  float: right;
  background: url('/images/little-button.png?1302039338') center center no-repeat;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: white;
  width: 120px;
  margin: 15px 0;
  margin-top: 20px;
  text-transform: lowercase;
  font-size: 1.1em;
}
/* line 284, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content .pagination {
  float: right;
  margin-top: 15px;
  text-transform: uppercase;
  color: #a1a1a1;
}
/* line 289, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content .pagination span.disabled {
  display: none;
}
/* line 291, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content .pagination span.current {
  color: black;
}
/* line 293, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.posts #content .pagination a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 300, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content .main-text {
  margin-top: 30px;
}
/* line 302, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form {
  margin-top: 40px;
  float: right;
  padding-left: 27px;
  border-left: 1px solid #a1a1a1;
}
/* line 307, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field {
  clear: left;
  margin: 20px 0;
}
/* line 310, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field label {
  width: 50px;
  float: left;
  line-height: 1.3em;
  color: #616161;
}
/* line 315, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field input {
  width: 280px;
  border: 1px solid #a1a1a1;
}
/* line 318, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field textarea {
  border: 1px solid #a1a1a1;
  margin-top: 15px;
  float: left;
  display: block;
  clear: left;
  width: 330px;
  height: 250px;
}
/* line 326, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field #notice {
  clear: left;
  color: #a1a1a1;
}
/* line 329, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field #notice .warning {
  color: red;
}
/* line 331, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field.first {
  margin-top: 0;
}
/* line 334, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field.buttons a, body #page-wrapper #page.contacts #content form .field.buttons input {
  float: right;
  background: url('/images/button-submit.png?1302095744') center center no-repeat;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: white;
  width: 280px;
  width: 105px;
  margin-left: 10px;
  padding: 0;
  border: 0;
}
/* line 341, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field.buttons a {
  background-image: url('/images/button-clear.png?1302093727');
}
/* line 344, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field .field_with_errors label {
  color: red;
}
/* line 346, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content form .field .field_with_errors input, body #page-wrapper #page.contacts #content form .field .field_with_errors textarea {
  border: 1px solid red;
}
/* line 349, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content #map_container {
  border: 1px solid #a1a1a1;
  margin-top: 40px;
  width: 590px;
}
/* line 353, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content #map_container #gmaps4rails_map {
  height: 310px;
  width: 590px;
}
/* line 357, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content ul#stores {
  margin-top: 30px;
}
/* line 359, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content ul#stores li {
  float: left;
  width: 275px;
  margin-right: 20px;
}
/* line 363, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content ul#stores li .phone_number, body #page-wrapper #page.contacts #content ul#stores li .fax_number {
  font-weight: bold;
}
/* line 365, ../../../app/stylesheets/application.sass */
body #page-wrapper #page.contacts #content ul#stores li .comment {
  margin-top: 20px;
}
