$orange: #db9d0a
$grey: #616161


div.active-scaffold
  td.title-column, td.sub_title-column, .title-view, .sub_title-view
    text-transform: uppercase
    font-weight: normal
  td.title-column , .title-view
    strong
      color: $orange
      font-weight: normal