
= render :layout => 'categories/category_wrapper' do
  %ul#products
    - @category.products.each do |product|
      %li
        = link_to category_product_path(@category, product, :anchor => 'text') do
          = image_tag product.image.url

